div {
  width: 700px;
  color: rgb(240, 153, 81);
  background-color: rgb(32, 25, 25);
  padding: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

div hr {
  color: white;
  width: 96%;
}

label {
  width: 94%;
  display: grid;
  padding: 0px 20px;
}

.title {
  text-align: left;
  margin: 5px;
  /* display:; */
}

input {
  width: auto;
}

h2 {
  margin: 15px;
}

.disabled {
  background-color: gray;
  color: white;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 1.5em;
  display: flex;
  border-radius: 1em;
  border: 2px;
}



.submit {
  background-color: rgb(240, 153, 81);
  color: white;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 1.5em;
  display: flex;
  border-radius: 1em;
  border: 2px;
}

.submit:hover {
  background-color: white;
  border-color: rgb(240, 153, 81);
  border: 2px;
  color: black;
  scale: 1.05;
  transition: .5s;
}